@model WebAppOGL.Entities.OrdenesCompra.oc_statusfinanzas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutOrdenesCompras.cshtml";
}

<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-0 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Estatus de Finanzas <small>Eliminar</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="bs-example" data-example-id="simple-jumbotron">
                <center>
                    <div class="jumbotron ">
                        <h2>¿Desea eliminar este registro?</h2>
                        <p>
                            <h3>
                                @Html.DisplayFor(model => model.Descripcion)
                            </h3>
                        </p>
                    </div>
                </center>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <a class="btn btn-default" href="@Url.Action("Index")">Regresar</a>|
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>
