
@{
    ViewBag.Title = "Plantillas";
    Layout = "~/Views/Shared/_LayoutSistemas.cshtml";
}

<h2>Plantillas</h2>


<!-- Pagina con formulario -->
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informacion del Equipo </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Inicia Formulario -->
                <div class="form-label-left input_mask">
                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                        @*@Html.EditorFor(model => model.Fecha_Compra, new { htmlAttributes = new { @class = "form-control has-feedback-left", @placeholder = "Fecha_Compra" } })*@
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <!-- Fin Formulario -->
            </div>
        </div>
    </div>
</div>

<!-- Cuerpo del Modal (Vista parcial) -->
<div class="modal-content">
    <div class="modal-header">
        <center>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Crear Nuevo Equipo</h4>
        </center>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</div>

<!-- Contenido en blanco -->

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Informacion del Equipo </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            </div>
        </div>
    </div>
</div>