@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> Asignacion de Celulares</h2> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> Asignar Celulares</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            </div>
        </div>
    </div>
</div>