
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOrdenesCompras.cshtml";
}

<h2>Index</h2>

<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>