
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOrdenesCompras.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ordenes de Compra <small>Index</small></h2> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> Agregar Registro</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-label-left input_mask">
                    <div class="col-md-3 col-sm-6  form-group has-feedback">
                        <input id="txtFolio" type="text" class="form-control has-feedback-left" placeholder="Folio">
                        <span class="fa fa-bookmark form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <br />
                <br />
                <hr />
                <table id="tblOrdenesCompra" class="table table-bordered jambo_table" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Folio</th>
                            <th>Fecha</th>
                            <th>Proyecto</th>
                            <th>Proveedor</th>
                            <th>CentroCostos</th>
                            <th>Cuenta</th>
                            <th>Solicitante</th>
                            <th>Supervisor</th>
                            <th>Compras</th>                            
                            <th>Finanzas</th>
                            <th>Direccion</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Define el modal -->
<div id="MyModal" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg" id="mdialTamanio">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>

<script type="text/javascript">

    var table;

    $(document).ready(function () {
        table = $('#tblOrdenesCompra').DataTable({
            "order": [[0, "desc"]],
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pagingType": "simple_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "deferRender": true,
            rowId: 'Id',
            select: true,
            "ajax": {
                "url": "/oc_ordenesdecompras/ObtenerOrdenesCompra",
                "type": "POST",
                "datatype": "json"
            },
            "aoColumns": [
                { "data": "Id", "autoWidth": true, "visible": false },
                { "data": "Folio", "autoWidth": true, },
                { "data": "FechaAltaString", "autoWidth": true, },
                { "data": "Proyecto", "autoWidth": true, },
                { "data": "Proveedor", "autoWidth": true, },
                { "data": "CentroCostos", "autoWidth": true, },
                { "data": "Cuenta", "autoWidth": true, },
                { "data": "Solicitante", "autoWidth": true, },
                { "data": "StatusSupervisor", "autoWidth": true, },
                { "data": "StatusCompras", "autoWidth": true, },
                { "data": "StatusFinanzas", "autoWidth": true, },
                { "data": "StatusDirector", "autoWidth": true, },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        return " <button onclick='Edit(" + full['Id'] + ")' class='btn btn-sm btn-primary '><i class='fa fa-edit'></i></button>" +                            
                            "<a onclick='Details(" + full['Id'] + ")' id='btnEdit" + full['id'] + "' class='btn btn-sm btn-info'><i class='fa fa-eye'></i></a>" +
                            "<button onclick='AutorizarOC(" + full['Id'] + ")' class='btn btn-sm btn-success '><i class='fa fa-check-circle'></i></button>";
                    },
                    "bSearchable": false,
                    "sortable": false,
                    "autoWidth": true,
                    "sWidth": "120px"
                }
            ]
        });

        $('#txtFolio').on('keyup', function () {
            table.columns(0).search(this.value).draw();
        });
    });

    var AutorizarOC = function (ID) {
        $.ajaxSetup({ cache: false });
        var url = "/oc_ordenesdecompras/AutorizarOC/" + ID;
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    var Details = function (ID) {
        $.ajaxSetup({ cache: false });
        var url = "/oc_ordenesdecompras/Details/" + ID;
        $("#MyModalContent").load(url, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }


    var Edit = function (ID) {
        $.ajaxSetup({ cache: false });

        window.location.href = '/oc_ordenesdecompras/Edit/' + ID;

        return false;
    }


    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result === 'Correcto') {
                        $("#MyModal").modal('hide');
                        toastr.success('Operacion Correcta.');
                        table.draw();
                    }
                    else {
                        $("#MyModal").modal('show');
                        toastr.error('Ha ocurrido un error.');
                        bindForm(dialog);
                    }
                },
                error: function (xml, message, text) {
                    toastr.error("Msg: " + message + ", Text: " + text);
                }
            });
            return false;
        });
    }
</script>