@{

    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>ITEMS</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="tblConceptos" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:30px;">Id</th>
                            <th style="width:30px;">Codigo</th>
                            <th style="width:30px;">Concepto</th>
                            <th style="width:30px;">Cantidad</th>
                            <th style="width:30px;">Precio</th>
                            <th style="width:30px;">Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Define el modal -->
<div id="MyModal" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg" id="mdialTamanio">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
