@{

    Layout = null;
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="x_title">
    <h2>ITEMS</h2>
    &nbsp;
    &nbsp;
    &nbsp;
    <button type="button" onclick="AgregarConcepto('@Html.Raw(ViewBag.oc_ordenescompras_Id)')" class="btn btn-success"><i class="fa fa-plus-circle"></i> Agregar Nuevo Concepto</button>
    <div class="clearfix"></div>
</div>
<div class="x_content">
    <table id="tblConceptos" class="table table-bordered">
        <thead>
            <tr>
                <th style="width:30px;">Id</th>
                <th style="width:30px;">Codigo</th>
                <th style="width:30px;">Concepto</th>
                <th style="width:30px;">Cantidad</th>
                <th style="width:30px;">Precio</th>
                <th style="width:30px;">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td style="text-align:right" colspan="5"><span> <strong> Subtotal </strong> </span> </td>
                <td> <span id="Subtotal"> @ViewBag.Subtotal </span>  </td>
                <td></td>
            </tr>
            <tr style="text-align:right">
                <td colspan="5"> <span> <strong> IVA </strong> </span> </td>
                <td style="text-align:center"> <span id="IVA"> @ViewBag.IVA </span> </td>
                <td></td>
            </tr>
            <tr style="text-align:right">
                <td colspan="5"> <span><strong> Total </strong> </span> </td>
                <td style="text-align:center"> <span id="Total"> @ViewBag.Total </span> </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Define el modal -->
<div id="MyModal" class="modal fade bs-example-modal-lg">
    <div class="modal-dialog modal-lg" id="mdialTamanio">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>