
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutOrdenesServicio.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Orden de Servicio <small>Index</small></h2> &nbsp;&nbsp;&nbsp;                
                <button type="submit" class="btn btn-primary" id="btnSave"><i class="fa fa-floppy-o"></i> Guardar</button>
                <a class="btn btn-danger" href="@Url.Action("Index")"><i class="fa fa-trash"></i> Cancelar</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-label-left input_mask">
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <select class="form-control has-feedback-left " id="ddlCuentas" all="Cuentas" title="Cuentas"></select>
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <select class="form-control has-feedback-left" id="ddlProveedores" all="Proveedor" title="Proveedor"></select>
                        <span class="fa fa-users form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <input id="txtRemision" type="text" class="form-control has-feedback-left" placeholder="Remision" />
                        <span class="fa fa-first-order form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" placeholder="Fecha de Solicitud" id="txtFechaPeticion"/>
                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="x_title">
                    <h2>Rutas</h2>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <div class="clearfix"></div>
                </div>
                <div class="form-label-left input_mask">
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <select class="form-control has-feedback-left " id="ddlRutas" all="Ruta" title="Ruta"></select>
                        <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-3 col-sm-3  form-group has-feedback">
                        <input id="txtCostoVenta" type="text" class="form-control has-feedback-left" placeholder="Costo de Venta" />
                        <span class="fa fa-usd form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                        <input id="txtObservaciones" type="text" class="form-control has-feedback-left" placeholder="Observaciones" />
                        <span class="fa fa-comment-o form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="x_title">
                    <h2>Items</h2>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <div class="clearfix"></div>
                </div>

                <table id="conceptos" class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="10%">Codigo</th>
                            <th width="25%">Producto</th>
                            <th width="10%">Cantidad</th>
                            <th width="10%">Precio</th>
                            
                            <th width="15%">Subtotal</th>
                            <td width="10%"></td>
                        </tr>
                        <tr>
                            <th> <input type="text" id="txtCodigo" class="form-control" />  </th>
                            <th> <input type="text" id="txtProducto" class="form-control" /> </th>
                            <th> <input type="text" id="txtCantidad" class="form-control" value="0" /> </th>
                            <th> <input type="text" id="txtPrecio" class="form-control" onkeyup="sumar()" value="0" /> </th>                            
                            <th> <input type="text" id="txtSubtotal" class="form-control" onkeyup="sumar()" value="0" disabled /> </th>
                            <th>
                                <input type="button" id="btnAdd" value="Agregar" class="btn btn-primary btn-sm" all="Agregar" title="Agregar" data-dismiss="modal" />                                
                            </th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Subtotal</td>
                            <td>
                                <input type="text" class="form-control" disabled id="txtSubtotalCantidad" value="0" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>IVA</td>
                            <td> <input type="text" class="form-control" disabled id="txtIVA" value="0" /> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Retencion</td>
                            <td> <input type="text" class="form-control" disabled id="txtRetencion" value="0" /> </td>
                        </tr>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td> <input type="text" class="form-control" disabled id="txtTotal" value="0" /> </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Custom Theme Scripts -->
<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/build/js/custom.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    .ui-autocomplete {
        width:200px;        
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>

<script type="text/javascript">

    $(function () {
        var ddlProveedores = $("#ddlProveedores");
        ddlProveedores.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading ...</option>');
        $.ajax({
            type: "POST",
            url: "/oc_proveedores/ListaSelect",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlProveedores.empty().append('<option selected="selected" value="0">Seleccione un Proveedor...</option>');
                $.each(response, function () {
                    ddlProveedores.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        var ddlCuentas = $("#ddlCuentas");
        ddlCuentas.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading ...</option>');
        $.ajax({
            type: "POST",
            url: "/adm_cuentas/ListaSelect",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlCuentas.empty().append('<option selected="selected" value="0">Seleccione una Cuenta...</option>');
                $.each(response, function () {
                    ddlCuentas.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        var ddlRutas = $("#ddlRutas");
        ddlRutas.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading ...</option>');
        $.ajax({
            type: "POST",
            url: "/os_rutas/ListaSelect",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlRutas.empty().append('<option selected="selected" value="0">Seleccione una Ruta...</option>');
                $.each(response, function () {
                    ddlRutas.append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    $("#txtProducto").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/os_conceptos/AutoComplete/',
                data: "{ 'prefix': '" + request.term + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    response($.map(data, function (item) {
                        return item;
                    }))
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        },
        select: function (e, i) {
            $("#txtProducto").val(i.item.val);
        },
        minLength: 0
    }).focus(function () {
        $(this).autocomplete("search");
    });

    $(function () {
        $("#txtFechaPeticion").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.respuesta === 'Correcto') {
                        $("#MyModal").modal('hide');
                        toastr.success('Operacion Correcta.');

                    }
                    else {
                        $("#MyModal").modal('show');
                        toastr.error('Ha ocurrido un error.');
                        bindForm(dialog);
                    }
                },
                error: function (xml, message, text) {
                    toastr.error("Msg: " + message + ", Text: " + text);
                }
            });
            return false;
        });
    }

    $("body").on("click", "#btnSave", function () {
        //Loop through the Table rows and build a JSON array.       

        var encabezado = {
            oc_proveedores_Id: $("#ddlProveedores").val(),
            adm_cuentas_Id: $("#ddlCuentas").val(),
            os_rutas_Id: $("#ddlRutas").val(),
            FechaSolicitud: $("#txtFechaPeticion").val(),
            CostoVenta: $("#txtCostoVenta").val(),
            Observaciones: $("#txtObservaciones").val(),
            Observaciones: $("#txtObservaciones").val(),
            Remision: $("#txtRemision").val(),

            Subtotal: $("#txtSubtotalCantidad").val(),
            IVA: $("#txtIVA").val(),
            Retencion: $("#txtRetencion").val(),
            Total: $("#txtTotal").val(),
        }

        var listaconceptos = new Array();
        $("#conceptos TBODY TR").each(function () {
            var row = $(this);
            var producto = {};
            producto.Codigo = row.find("TD").eq(0).html();
            producto.Concepto = row.find("TD").eq(1).html();
            producto.Cantidad = row.find("TD").eq(2).html();
            producto.PrecioUnitario = row.find("TD").eq(3).html();
            producto.Subtotal = row.find("TD").eq(4).html();

            listaconceptos.push(producto);
        });

        $.ajax({
            type: "POST",
            url: "/os_ordenesservicio/CreatePost",
            data: '{encabezado:' + JSON.stringify(encabezado) + ', listaconceptos: ' + JSON.stringify(listaconceptos) + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r.respuesta === "Correcto") {
                    location.href = "/os_ordenesservicio/index";
                }
                else {
                    toastr.error('Ha ocurrido un error. Valide la informacion capturada.');
                }
            }
        });       
    });

    $("body").on("click", "#btnAdd", function () {
        //Reference the Name and Country TextBoxes.
        var txtCodigo = $("#txtCodigo");
        var txtProducto = $("#txtProducto");
        var txtCantidad = $("#txtCantidad");
        var txtPrecio = $("#txtPrecio");
        var txtSubtotal = $("#txtSubtotal");

        //Get the reference of the Table's TBODY element.
        var tBody = $("#conceptos > TBODY")[0];

        //Add Row.
        var row = tBody.insertRow(-1);

        //Add Codigo cell.
        var cell = $(row.insertCell(-1));
        cell.html(txtCodigo.val());

        //Add Producto cell.
        cell = $(row.insertCell(-1));
        cell.html(txtProducto.val());

        //Add Cantidad cell.
        cell = $(row.insertCell(-1));
        cell.html(txtCantidad.val());

        //Add Precio cell.
        cell = $(row.insertCell(-1));
        cell.html(txtPrecio.val());

        //Add Subtotal cell.
        cell = $(row.insertCell(-1));
        cell.html(txtSubtotal.val());

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input class='btn btn-danger' />");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("Eliminar");
        cell.append(btnRemove);          

        //Subtotal
        var subtotalproducto = parseFloat(txtCantidad.val() * txtPrecio.val());
        var subtotalactual = parseFloat($("#txtSubtotalCantidad").val());
        var subtotalcaja = (subtotalactual + subtotalproducto).toFixed(2);        

        //Si se elimina el concepto SERVICIO DE TRANSPORTE comienzo el proceso con retencion
        //De lo contrario avanza normal
        if (txtProducto.val() == "SERVICIO DE TRANSPORTE") {

            var retencionactual = parseFloat($("#txtRetencion").val());
            var valorretencion = parseFloat("0.04");
            var retencion = subtotalproducto * valorretencion;
            var retencionCAJA = parseFloat(retencionactual + retencion);
            
            var valoriva = parseFloat(0.16);
            var ivacaja = parseFloat(subtotalcaja * valoriva).toFixed(2);
            
            var totalcaja = parseFloat(parseFloat(subtotalcaja) + parseFloat(ivacaja));
            var totaldescretencion = totalcaja - retencionCAJA;

            $("#txtRetencion").val(retencionCAJA.toFixed(2));
            $("#txtSubtotalCantidad").val(subtotalcaja);
            $("#txtIVA").val(ivacaja);            
            $("#txtTotal").val(totaldescretencion.toFixed(2));
        }
        else {

            var retencionactual = parseFloat($("#txtRetencion").val());

            $("#txtSubtotalCantidad").val(subtotalcaja);

            var valoriva = parseFloat(0.16);

            var ivacaja = parseFloat(subtotalcaja * valoriva).toFixed(2);

            $("#txtIVA").val(ivacaja);

            var totalcaja = parseFloat(parseFloat(subtotalcaja) + parseFloat(ivacaja));

            var total = totalcaja - retencionactual;

            $("#txtTotal").val(total.toFixed(2));

        }
          
        //Clear the TextBoxes.

        txtCodigo.val("");
        txtCodigo.focus();
        txtProducto.val("");
        txtCantidad.val("");
        txtPrecio.val("");
        txtSubtotal.val("");
    });

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");

        var concepto_eliminado = $("TD", row).eq(1).html();

        if (concepto_eliminado == "SERVICIO DE TRANSPORTE") {            

            var valoreliminado = parseFloat($("TD", row).eq(4).html());
            var valorretencion = parseFloat(0.04);
            var retencion_restar = valoreliminado * valorretencion;
            var retencionactual = parseFloat($("#txtRetencion").val());
            var retencion_total_resta = (retencionactual - retencion_restar).toFixed(2);

            var subtotalactual = parseFloat($("#txtSubtotalCantidad").val());
            var nuevosubtotal = parseFloat(subtotalactual - valoreliminado).toFixed(2);

            var ivaactual = parseFloat($("#txtIVA").val());
            var ivaeliminado = parseFloat(valoreliminado) * parseFloat(0.16);
            var nuevoiva = parseFloat(ivaactual - ivaeliminado).toFixed(2);

            var totalactual = parseFloat($("#txtTotal").val());
            var totaleliminado = parseFloat(valoreliminado) + parseFloat(ivaeliminado) - parseFloat(retencion_restar);
            var nuevototal = parseFloat(totalactual - totaleliminado).toFixed(2);

            $("#txtSubtotalCantidad").val(nuevosubtotal);
            $("#txtIVA").val(nuevoiva);
            $("#txtTotal").val(nuevototal);

            var table = $("#conceptos")[0];
            table.deleteRow(row[0].rowIndex);


            $("#txtRetencion").val(retencion_total_resta);
        }
        else
        {
            var valoreliminado = parseFloat($("TD", row).eq(4).html());

            var subtotalactual = parseFloat($("#txtSubtotalCantidad").val());
            var nuevosubtotal = parseFloat(subtotalactual - valoreliminado).toFixed(2);

            var ivaactual = parseFloat($("#txtIVA").val());
            var ivaeliminado = parseFloat(valoreliminado) * parseFloat(0.16);
            var nuevoiva = parseFloat(ivaactual - ivaeliminado).toFixed(2);

            var totalactual = parseFloat($("#txtTotal").val());
            var totaleliminado = parseFloat(valoreliminado) + parseFloat(ivaeliminado);
            var nuevototal = parseFloat(totalactual - totaleliminado).toFixed(2);

            $("#txtSubtotalCantidad").val(nuevosubtotal);
            $("#txtIVA").val(nuevoiva);
            $("#txtTotal").val(nuevototal);

            var table = $("#conceptos")[0];
            table.deleteRow(row[0].rowIndex);
        }   
    };

    function sumar() {
        var txtCantidad = $("#txtCantidad");
        var txtPrecio = $("#txtPrecio");
        var subtotal = txtCantidad.val() * txtPrecio.val();

        $("#txtSubtotal").val(subtotal.toFixed(2));
    }

</script>