

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<div class="x_panel">
    <div class="x_title">
        <h2>Asignacion de Equipo de Computo </h2> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" onclick="CrearAsignacion()"><span class="fa fa-plus-circle"></span> Asignar Equipo de Computo</a>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-label-left input_mask">
            <div class="col-md-6 col-sm-6  form-group has-feedback">
                <input id="txtBusquedaEquipos" type="text" class="form-control has-feedback-left" placeholder="Nombre Empleado">
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <br />
        <br />
        <hr />

        <table id="tblAsignacionEquipos" class="table table-bordered jambo_table" width="100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        FechaAlta
                    </th>
                    <th>
                        Area
                    </th>
                    <th>
                        Empleado
                    </th>
                    <th>
                        Sucursal
                    </th>
                    <th>
                        Cuenta
                    </th>
                    <th>
                        Equipo
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>




<script type="text/javascript">

    var table;

    $(document).ready(function () {
        table = $('#tblAsignacionEquipos').DataTable({
            "order": [[0, "desc"]],
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pagingType": "simple_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "deferRender": true,
            rowId: 'Id',
            select: true,
            "ajax": {
                "url": "/sis_asignacion/ObtenerAsignacionEquipos",
                "type": "POST",
                "datatype": "json"
            },
            "aoColumns": [
                //0
                { "data": "Id", "autoWidth": true, "visible": false },
                { "data": "FechaAlta", "autoWidth": true, },
                { "data": "Area", "autoWidth": true, },
                { "data": "NombreEmpleado", "autoWidth": true, },
                { "data": "Sucursal", "autoWidth": true, },
                { "data": "Cuenta", "autoWidth": true, },
                { "data": "Nombreequipo", "autoWidth": true, },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        return " <button onclick='EditarAsignacion(" + full['Id'] + ")' class='btn btn-sm btn-primary '><i class='fa fa-edit'></i></button>" +
                            "<a  onclick='DetalleEquipo(" + full['Id'] + ")' id='btnEdit" + full['id'] + "' class='btn btn-sm btn-info'><i class='glyphicon glyphicon-list-alt'></i></a>";
                    },
                    "bSearchable": false,
                    "sortable": false,
                    "autoWidth": true,
                    "sWidth": "100px"
                }
            ]
        });

        $('#txtBusquedaEquipos').on('keyup', function () {
            table.columns(0).search(this.value).draw();
        });
    });

</script>