@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="x_panel">
    <div class="x_title">
        <h2>Asignacion de Equipo de Computo </h2> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-success" onclick="CrearAsignacionEquipo()"><span class="fa fa-plus-circle"></span> Asignar Equipo de Computo</a>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-label-left input_mask">
            <div class="col-md-6 col-sm-6  form-group has-feedback">
                <input id="txtBusquedaEquipos" type="text" class="form-control has-feedback-left" placeholder="Nombre Empleado">
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
        </div>
        <br />
        <br />
        <hr />
        <table id="tblAsignacionEquipos" class="table table-bordered jambo_table" width="100%">
            <thead>
                <tr>
                    <th>Id</th>                    
                    <th>Empleado</th>
                    <th>Equipo</th>
                    <th>Cuenta</th>
                    <th>Area</th>
                    <th>Sucursal</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">

    var table;

    $(document).ready(function () {
        table = $('#tblAsignacionEquipos').DataTable({
            "order": [[0, "desc"]],
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pagingType": "simple_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "deferRender": true,
            rowId: 'Id',
            select: true,
            "ajax": {
                "url": "/sis_asignacion/ObtenerAsignacionEquipos",
                "type": "POST",
                "datatype": "json"
            },
            "aoColumns": [
                //0
                { "data": "Id", "autoWidth": true, "visible": false },                
                { "data": "NombreEmpleado", "autoWidth": true, },
                { "data": "Nombreequipo", "autoWidth": true, },
                { "data": "Cuenta", "autoWidth": true, },
                { "data": "Area", "autoWidth": true, },                
                { "data": "Sucursal", "autoWidth": true, },        
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        return "<button onclick='EditarAsignacionEquipo(" + full['Id'] + ")' class='btn btn-sm btn-primary'> <span class='fa fa-edit'></span> </button>" +
                            "<a onclick='DetalleAsignacionEquipo(" + full['Id'] + ")' class='btn btn-sm btn-info'> <span class='fa fa-list'></span> </a>" +
                            "<a onclick='EliminarAsignacionEquipo(" + full['Id'] + ")' class='btn btn-sm btn-danger'> <span class='fa fa-trash'></span> </a>"
                    },
                    "bSearchable": false,
                    "sortable": false,
                    "autoWidth": true,
                    "sWidth": "100px"
                }
            ]
        });

        $('#txtBusquedaEquipos').on('keyup', function () {
            table.columns(0).search(this.value).draw();
        });
    });

</script>